[Desktop Entry]
Name=Tomomi
Exec=tomomi
Icon=tomomi
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Player;Video
X-DBUS-ServiceName=com.georgefb.tomomi
